.footer {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #141312;
    padding-top: 4rem;
  }
  &-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 260px;
    margin-bottom: 24px;
    padding: 24px;
    color: #fff;
    &-heading {
      font-family: "Playfair Display", serif;
      margin-bottom: 44px;

      font-size: 1.8rem;
    }
  }
  &-input {
    padding: 8px 24px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 16px;
    border: 1px solid #fff;
  }
  &-links {
    width: 100%;
    max-width: 1000px;
  }
}

.footer-link {
  &-wrapper {
    display: flex;
    justify-content: space-around;
  }
  &-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 180px;
    box-sizing: border-box;
    & a {
      color: #fde8cd;
      text-decoration: none;
      margin-bottom: 0.5rem;
      &:hover {
        color: #99bbad;
        transition: 0.1s ease-out;
        transform: scale(1.4);
      }
    }
    & h2 {
      font-family: "Playfair Display", serif;
      margin-bottom: 16px;
    }
    & > h2 {
      color: #fde8cd;
    }
  }
}

.btn {
  &-area {
    width: auto;
  }
  &-wsp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 300px;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 5px 24px;
    color: #fff;
    background-color: #128c7e;
    border: 1px solid transparent;
    border-radius: 10px;
    &:hover {
      transition: 0.2s ease-out;
      transform: scale(1.1);
      cursor: pointer;
    }
    &:focus {
      border: none;
    }
  }
}

.wsp-icon {
  font-size: 2.5rem;
}

.footer-logo {
  display: flex;
  margin-bottom: 34px;
}

.brand-logo {
  width: 380px;
}

/* Social Icons */
.social {
  &-media {
    max-width: 1000px;
    width: 100%;

    &-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      max-width: 1000px;
      margin: 20px auto 36px auto;
    }
  }
  &-icon-link {
    color: #fff;
    font-size: 24px;
    &:hover {
      color: #34b7f1;
      transition: 0.2s ease-out;
      transform: scale(1.4);
    }
  }

  &-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }
}

@media screen and (max-width: 1024px) {
  .footer-subscription-heading {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 980px) {
  .brand-logo {
    width: 280px;
  }
}

@media screen and (max-width: 720px) {
  .btn-area {
    width: 100%;
  }

  .btn-wsp {
    width: 100%;
    font-size: 20px;
  }

  .wsp-icon {
    font-size: 2.5rem;
  }

  .footer {
    &-links {
      padding-top: 2rem;
    }
  }

  .social-media-wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 414px) {
  .footer-link-wrapper {
    padding: 20px;
  }
  .footer-subscription-heading {
    font-size: 1.2rem;
  }
  .btn-wsp {
    font-size: 1rem;
  }
  .wsp-icon {
    font-size: 2.5rem;
  }

  .footer-logo {
    width: 90%;
  }
  .brand-logo {
    width: 100%;
  }

  .footer-link-items {
    & h2 {
      font-size: 1.2rem;
    }
    & a {
      font-size: 0.8rem;
    }
  }
}
